<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Alpinetime</title>
    <link href="/public/css/app.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body role="document">

<div class="container-fluid application" role="main">

    <div class="row">
        <div id="main" class="col-xs-12">
            {% block main %}
            {% endblock %}
        </div>
    </div>

</div>

{% block scripts %}
<script src="/public/js/bundle.js"></script>
{% endblock %}
</body>
</html>