<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alpinetime</title>

    <link href="/dist/css/app.css" rel="stylesheet">
</head>

<body role="document">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alpinetime</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/projects">Projects</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid application" role="main">

    <div class="row">
        <div id="main" class="col-xs-12">

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Variables:</h4>
            <ul>
                <li>Estimation buffer</li>
                <li>Worst case overhead</li>
            </ul>
            <h4>Summary:</h4>
            <ul>
                <li>per package, per responsible estimations</li>
                <li>per responsible estimation</li>
                <li>total estimation</li>
                <li>total estimation + buffer</li>
                <li>worst case estimation</li>
            </ul>
        </div>
    </div>

</div>

<script src="/dist/js/bundle.js"></script>
</body>
</html>