{% extends "layouts/layout.html" %}

{% block title %}Login{% endblock %}
{% block head %}
<link href="/public/css/login.css" rel="stylesheet">
{% endblock %}

{% block navigation %}

{% endblock %}

{% block main %}
<h1 style="text-align: center">AlpineTime</h1>
<form action="/login" method="POST" class="form-signin">
  <h3 class="form-signin-heading">Please sign in</h3>
  <br/>
  <label for="username">Username</label>
  <input type="text" name="username" id="username" class="form-control" placeholder="Username" autofocus required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
  <div id="false-login-message" class="alert alert-danger hide" role="alert">Your credentials didn't work.</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
{% endblock %}

{% block scripts %}
  <script>
    if(location.search.indexOf("passwordiswrong") !== -1) {
      document.getElementById("false-login-message").classList.remove("hide");
    }
  </script>
{% endblock %}