{% extends "layouts/layout.html" %}

{% block title %}Register{% endblock %}
{% block head %}
<link href="/public/css/login.css" rel="stylesheet">
{% endblock %}

{% block navigation %}

{% endblock %}

{% block main %}
<div class="row">
  <div id="main" class="col-xs-12">
  <h1 class="login-title">Alpinetime</h1>
  <form action="/register" method="POST" class="form-signin">
    <h3 class="form-signin-heading">Create an Account</h3>
    <br/>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" autofocus required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script></script>
{% endblock %}